@{
    ViewData["Title"] = "Validation Success";
    Layout = "_Layout";
}

<div class="text-center" style=";margin-right:100px;">
    <h1 class="display-4" style="color:dodgerblue;margin-top:25px;margin-bottom:25px;margin-right:70%;">Validator Result</h1>
</div>
<p>No errors found when validating XML file <strong>@ViewBag.XMLFileName</strong> against the schema <strong>@ViewBag.SchemaFileName</strong></p>

